# --- APP SETTINGS ---
APP_NAME=
VERSION=
API_V1_STR=
APP_HOST=
APP_PORT=
LOG_FILE_NAME=

# --- MIDDLEWARE ---
ALLOW_ORIGINS=
ALLOW_METHODS=
ALLOW_HEADERS=
ALLOW_CREDENTIALS=

# --- CACHING ---
CACHE_PREFIX=
REDIS_HOST=
REDIS_PORT=

# --- AUTHORIZATION ---
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
