# --- APP SETTINGS ---
APP_NAME="FitLife API"
APP_VERSION=0.0.1
APP_API_V1_STR=/api/v1
APP_HOST=localhost
APP_PORT=8000
APP_LOG_FILE_NAME=fitlife.log

# --- MIDDLEWARE ---
MIDDLEWARE_ALLOW_ORIGINS=*
MIDDLEWARE_ALLOW_METHODS=*
MIDDLEWARE_ALLOW_HEADERS=*
MIDDLEWARE_ALLOW_CREDENTIALS=True

# --- CACHING ---
CACHE_PREFIX=fitlife
REDIS_HOST=localhost
REDIS_PORT=6379

POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_DB=fitlife
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# --- AUTHENTICATION ---
SECURITY_SECRET_KEY=your-secret-key
SECURITY_ALGORITHM=HS256
SECURITY_ACCESS_TOKEN_EXPIRE_MINUTES=30
SECURITY_HASH_ENCODING=utf-8

# --- ADMIN PANEL ---
ADMIN_TITLE="FitLife Admin"
ADMIN_ENABLED=true